body{
	color:#4843ED;
}
.base{
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.7);
	position:fixed;
	display:none;
	z-index:887;
}
.help{
	position:fixed;
	display:none;
	height:140px;
	width:360px;
	z-index:888;
	color:#fff;
	background:#005aaa;
}
.title{
	height:31px;
	background:#005aaa;
	color:white;
}
.title span{
	font-size:16px;
	color:white;
	margin-left:10px;
	line-height:31px;
	font-weight:bold;
}
.ph{
	padding:10px;
	text-indent:20px;
	background:#f4f5f7;
	color:#7d8083;
	font-size:13px;
	line-height:20px;
}
.ph p{
	padding:0;
	margin:0;
}
.confirm{
	height:55px;
	background:#f4f5f7;
	color:white;
	font-size:13px;
	line-height:40px;
	text-align:center;
}
.confirm button{
	border:none;
	font-size:13px;
	background:#005aaa;
	display:inline-block;
	width:50px;
	height:25px;
	color:#fff;
	line-height:25px;
}

.head,.date{
	padding:5px 20px;
	margin:0 auto;
	height:25px;
	width:520px;
	background:#EE5B88;
}
.date{
	font-size:16px;
}
.date .ml{
	margin-left:20px;
}
.t{
	margin-left:100px;
}
.bigbox{
	background:url(3.jpg) no-repeat;
	background-size:cover;
	margin:0 auto;
	padding:50px;
}
.back{
	color:#4843ED;
	border:1px solid #ED5B87;
	background:pink;
	height:25px;
	width:100px;
	float:left;
	margin-left:20px;
	margin-top:10px;
	/*margin:-100px auto;*/
}
.btn{

	color:#4843ED;
	border:1px solid #ED5B87;
	background:pink;
	margin-right:20px;
	margin-top:10px;
	float:right;
	height:40px;
}
.bigbox div{
	background:pink;
}
.bigbox  .white{
	background: #fff;
}
.bigbox  .black{
	background:red;
}

.tit{
	/*display: block;*/
	height:30px;
	width:100px;
	/*font-size:18px;*/
}

@keyframes move{
	0%{
		opacity:0;
		transform:translate(100px);
	}
	100%{
		opacity:1;
		transform:translateX(0px);
	}
}